Repository mongodb/mongodb-kubernetes: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-manifests, update-release-json, update-values-yaml, generate-standalone-yaml, regenerate-mco-tests, regenerate-multicluster-rbac, update-licenses, golangci-lint, check-kubebuilder-annotations, check-makefile-brackets, helm-lint

generate-manifests:
  name: Generate CRD manifests
  entry: scripts/dev/generate_files.sh generate_manifests
  language: script
  pass_filenames: false

update-release-json:
  name: Update release.json
  entry: scripts/dev/generate_files.sh update_release
  language: script
  pass_filenames: false

update-values-yaml:
  name: Update Helm values files
  entry: scripts/dev/generate_files.sh update_values
  language: script
  pass_filenames: false

generate-standalone-yaml:
  name: Generate standalone YAML files
  entry: scripts/dev/generate_files.sh generate_standalone_yaml
  language: script
  pass_filenames: false

regenerate-mco-tests:
  name: Regenerate MCO evergreen tests
  entry: scripts/dev/generate_files.sh update_mco_tests
  language: script
  pass_filenames: false

regenerate-multicluster-rbac:
  name: Regenerate multi-cluster RBAC samples
  entry: scripts/dev/regenerate_multicluster_rbac.sh
  language: script
  pass_filenames: false

update-licenses:
  name: Update third-party licenses
  entry: scripts/dev/generate_files.sh update_licenses
  language: script
  pass_filenames: false

golangci-lint:
  name: Go linting
  entry: scripts/evergreen/lint_code.sh
  language: script
  pass_filenames: false
  require_serial: true

check-kubebuilder-annotations:
  name: Check erroneous kubebuilder annotations
  entry: bash
  args:
  - -c
  - "if grep -r \"// kubebuilder\" --include=\"*.go\" --exclude-dir=vendor .; then\n  echo \"Found erroneous kubebuilder annotation (should be //+kubebuilder)\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

check-makefile-brackets:
  name: Check Makefile variable brackets
  entry: bash
  args:
  - -c
  ...

helm-lint:
  name: Lint Helm chart
  entry: scripts/dev/lint_helm_chart.sh
  language: script
  pass_filenames: false

Split persisting in its own method
  docker/mongodb-kubernetes-tests/kubetester/opsmanager.py
  docker/mongodb-kubernetes-tests/tests/upgrades/appdb_tls_operator_upgrade_v1_32_to_mck.py
Due: none

[CLOUDP-349630] Don't generate scramshacreds if `MongoDBUser`'s password is not changed (#628)
  controllers/om/automation_config.go
  controllers/operator/authentication/scramsha_credentials.go
  controllers/operator/authentication/scramsha_credentials_test.go
  controllers/operator/mongodbuser_controller.go
  controllers/operator/mongodbuser_controller_test.go
Due: golangci-lint, check-kubebuilder-annotations

Fix `is_default_architecture_static` call (#640)
  docker/mongodb-kubernetes-tests/tests/opsmanager/om_ops_manager_upgrade.py
Due: none

CLOUDP-363744: Bump Cloud Manager version for MongoDB Agent container images for MMS release branch v20251210 (#627)
  config/manager/manager.yaml
  helm_chart/values-openshift.yaml
  public/mongodb-kubernetes-openshift.yaml
  release.json
Due: update-release-json, update-values-yaml, generate-standalone-yaml, helm-lint

Add dockerfiles to the public dir
  public/dockerfiles/mongodb-agent/107.0.20.8807-1/ubi/Dockerfile
  public/dockerfiles/mongodb-agent/13.44.0.10034-1/ubi/Dockerfile
  public/dockerfiles/mongodb-enterprise-ops-manager/7.0.20/ubi/Dockerfile
  public/dockerfiles/mongodb-enterprise-ops-manager/8.0.17/ubi/Dockerfile
Due: none

Add dockerfiles to the public dir (#643)
  public/dockerfiles/mongodb-agent/107.0.20.8807-1/ubi/Dockerfile
  public/dockerfiles/mongodb-agent/13.44.0.10034-1/ubi/Dockerfile
  public/dockerfiles/mongodb-enterprise-ops-manager/7.0.20/ubi/Dockerfile
  public/dockerfiles/mongodb-enterprise-ops-manager/8.0.17/ubi/Dockerfile
Due: none

CLOUDP-301527: Migrate from custom pre-commit to official pre-commit framework
  .githooks/pre-commit
  .pre-commit-config.yaml
  .yamllint.yaml
  Makefile
  pyproject.toml
  requirements.txt
  scripts/code_snippets/validate_snippets.py
  scripts/dev/generate_files.sh
  scripts/dev/regenerate_multicluster_rbac.sh
  scripts/evergreen/check_precommit.sh
  scripts/evergreen/lint_code.sh
  scripts/evergreen/operator-sdk/prepare-openshift-bundles-for-e2e.sh
Due: check-makefile-brackets

CLOUDP-364847: Remove unused MDB_IMAGE_TYPE environment variable (#641)
  changelog/20251210_other_remove_unused_mdb_image_type_env_variable.md
  config/manager/manager.yaml
  helm_chart/templates/operator.yaml
  helm_chart/values.yaml
  mongodb-community-operator/controllers/construct/mongodbstatefulset.go
  pkg/images/Imageurls_test.go
  public/architectures/setup-multi-cluster/ra-02-setup-operator/output/ra-02_0210_helm_install_operator.out
  public/mongodb-kubernetes-multi-cluster.yaml
  public/mongodb-kubernetes-openshift.yaml
  public/mongodb-kubernetes.yaml
  scripts/dev/contexts/root-context
  scripts/dev/print_operator_env.sh
  scripts/evergreen/deployments/test-app/templates/mongodb-enterprise-tests.yaml
  scripts/evergreen/deployments/test-app/values.yaml
  scripts/evergreen/e2e/single_e2e.sh
  scripts/funcs/operator_deployment
Due: update-values-yaml, generate-standalone-yaml, golangci-lint, check-kubebuilder-annotations, helm-lint

Fixed docker init-ops-manager build
  docker/mongodb-kubernetes-init-ops-manager/Dockerfile
Due: none

Version bump
  config/manager/manager.yaml
  config/manifests/bases/mongodb-kubernetes.clusterserviceversion.yaml
  helm_chart/Chart.yaml
  helm_chart/values-openshift.yaml
  helm_chart/values.yaml
  public/mongodb-kubernetes-multi-cluster.yaml
  public/mongodb-kubernetes-openshift.yaml
  public/mongodb-kubernetes.yaml
  release.json
Due: update-release-json, update-values-yaml, generate-standalone-yaml, helm-lint

Dockerfiles for release 1.6.1
  public/dockerfiles/mongodb-kubernetes-database/1.6.1/ubi/Dockerfile
  public/dockerfiles/mongodb-kubernetes-init-appdb/1.6.1/ubi/Dockerfile
  public/dockerfiles/mongodb-kubernetes-init-database/1.6.1/ubi/Dockerfile
  public/dockerfiles/mongodb-kubernetes-init-ops-manager/1.6.1/ubi/Dockerfile
  public/dockerfiles/mongodb-kubernetes/1.6.1/ubi/Dockerfile
Due: none

Run pre-commit generation jobs in parallel
  .pre-commit-config.yaml
  scripts/dev/generate_files.sh
Due: none

New MongoDBCertificate CRD and controller
  api/v1/certificate/doc.go
  api/v1/certificate/groupversion_info.go
  api/v1/certificate/monogdbcert_types.go
  api/v1/certificate/zz_generated.deepcopy.go
  config/crd/bases/mongodb.com_mongodbcertificates.yaml
  controllers/operator/mongodbcertificate_controller.go
  controllers/operator/mongodbcertificate_eventhandler.go
  docker/mongodb-kubernetes-tests/tests/multicluster_om/multicluster_om_appdb_no_mesh.py
  go.mod
  go.sum
  helm_chart/crds/mongodb.com_mongodbcertificates.yaml
  main.go
  pkg/util/constants.go
  public/crds.yaml
Due: generate-manifests, generate-standalone-yaml, update-licenses, golangci-lint, check-kubebuilder-annotations, helm-lint

chore: apply shellcheck
  docker/cluster-cleaner/scripts/clean-failed-namespaces.sh
  docker/delve-sidecar/attach-delve.sh
  docker/mongodb-agent/agent-launcher-shim.sh
  docker/mongodb-agent/dummy-probe.sh
  docker/mongodb-agent/setup-agent-files.sh
  docker/mongodb-kubernetes-init-database/content/probe.sh
  mongodb-community-operator/scripts/dev/setup_sa.sh
  multi_cluster/tools/install_istio.sh
  multi_cluster/tools/install_istio_central.sh
Due: none

New MongoDBCertificate CRD and controller v2
  api/v1/certificate/monogdbcert_types.go
  api/v1/certificate/zz_generated.deepcopy.go
  certificate-cr-example.yaml
  config/crd/bases/mongodb.com_mongodbcertificates.yaml
  controllers/operator/mongodbcertificate_controller.go
  helm_chart/crds/mongodb.com_mongodbcertificates.yaml
  public/crds.yaml
Due: generate-manifests, generate-standalone-yaml, golangci-lint, check-kubebuilder-annotations, helm-lint

Working CRD
  api/v1/certificate/monogdbcert_types.go
  api/v1/certificate/zz_generated.deepcopy.go
  certificate-cr-example.yaml
  controllers/operator/mongodbcertificate_controller.go
Due: generate-manifests, golangci-lint, check-kubebuilder-annotations

CLOUDP-364442 - remove om6 testing infra (#637)
  .evergreen.yml
  scripts/dev/contexts/variables/om60
  scripts/dev/contexts/variables/om60_image
  scripts/dev/contexts/variables/om70
Due: none

Release MCK 1.6.1 (#644)
  config/manager/manager.yaml
  config/manifests/bases/mongodb-kubernetes.clusterserviceversion.yaml
  helm_chart/Chart.yaml
  helm_chart/values-openshift.yaml
  helm_chart/values.yaml
  public/dockerfiles/mongodb-kubernetes-database/1.6.1/ubi/Dockerfile
  public/dockerfiles/mongodb-kubernetes-init-appdb/1.6.1/ubi/Dockerfile
  public/dockerfiles/mongodb-kubernetes-init-database/1.6.1/ubi/Dockerfile
  public/dockerfiles/mongodb-kubernetes-init-ops-manager/1.6.1/ubi/Dockerfile
  public/dockerfiles/mongodb-kubernetes/1.6.1/ubi/Dockerfile
  public/mongodb-kubernetes-multi-cluster.yaml
  public/mongodb-kubernetes-openshift.yaml
  public/mongodb-kubernetes.yaml
  release.json
Due: update-release-json, update-values-yaml, generate-standalone-yaml, helm-lint

Add comment in `wait_for`
  docker/mongodb-kubernetes-tests/kubetester/mongodb_common.py
Due: none

Flaky test fixes (#580)
  docker/mongodb-kubernetes-tests/kubetester/mongodb_common.py
  docker/mongodb-kubernetes-tests/kubetester/opsmanager.py
  docker/mongodb-kubernetes-tests/tests/multicluster_appdb/multicluster_appdb_upgrade_downgrade_v1_27_to_mck.py
  docker/mongodb-kubernetes-tests/tests/multicluster_shardedcluster/multi_cluster_sharded_snippets.py
  docker/mongodb-kubernetes-tests/tests/upgrades/appdb_tls_operator_upgrade_v1_32_to_mck.py
Due: none

Add unit tests for host removal on downscaling
  controllers/operator/appdbreplicaset_controller_multi_test.go
  controllers/operator/appdbreplicaset_controller_test.go
  controllers/operator/mongodbmultireplicaset_controller_test.go
  controllers/operator/mongodbreplicaset_controller_test.go
  controllers/operator/mongodbshardedcluster_controller_multi_test.go
Due: golangci-lint, check-kubebuilder-annotations

E2E test for host removal
  docker/mongodb-kubernetes-tests/kubetester/omtester.py
  docker/mongodb-kubernetes-tests/tests/multicluster/multi_cluster_replica_set_scale_down.py
  docker/mongodb-kubernetes-tests/tests/multicluster_appdb/multicluster_appdb.py
  docker/mongodb-kubernetes-tests/tests/multicluster_shardedcluster/multi_cluster_sharded_scaling.py
  docker/mongodb-kubernetes-tests/tests/opsmanager/withMonitoredAppDB/om_appdb_scale_up_down.py
  docker/mongodb-kubernetes-tests/tests/replicaset/replica_set.py
  docker/mongodb-kubernetes-tests/tests/shardedcluster/sharded_cluster_scale_shards.py
Due: none

Updated files
  .evergreen.yml
  release.json
Due: update-release-json

Run pre-commit hook
  config/manager/manager.yaml
  helm_chart/values-openshift.yaml
  public/mongodb-kubernetes-openshift.yaml
Due: update-values-yaml, generate-standalone-yaml, helm-lint

Modify tests
  controllers/operator/appdbreplicaset_controller_multi_test.go
  controllers/operator/appdbreplicaset_controller_test.go
  controllers/operator/mongodbreplicaset_controller_test.go
  controllers/operator/mongodbshardedcluster_controller_multi_test.go
Due: golangci-lint, check-kubebuilder-annotations

Update mocked OM client
  controllers/om/mockedomclient.go
Due: golangci-lint, check-kubebuilder-annotations

Shared function
  controllers/om/deployment.go
Due: golangci-lint, check-kubebuilder-annotations

Fix for AppDB
  controllers/operator/appdbreplicaset_controller.go
Due: golangci-lint, check-kubebuilder-annotations

Fix for MC RS
  controllers/operator/mongodbmultireplicaset_controller.go
Due: golangci-lint, check-kubebuilder-annotations

Fix for RS
  controllers/operator/mongodbreplicaset_controller.go
Due: golangci-lint, check-kubebuilder-annotations

Fix for sharded clusters
  controllers/operator/mongodbshardedcluster_controller.go
Due: golangci-lint, check-kubebuilder-annotations

Changelog entry
  changelog/20251216_fix_remove_hosts_from_monitoring_on_scale_down.md
Due: none

Fix E2E test expected host count for multi-cluster mode
  docker/mongodb-kubernetes-tests/tests/shardedcluster/sharded_cluster_scale_shards.py
Due: none

Fixed dns zone pinning for external-dns in gke snippets
  public/architectures/setup-multi-cluster/ra-01-setup-gke/code_snippets/ra-01_9020_delete_disks.sh
  public/architectures/setup-multi-cluster/ra-01-setup-gke/teardown.sh
  public/architectures/setup-multi-cluster/ra-09-setup-externaldns/code_snippets/ra-09_0200_install_externaldns.sh
  public/architectures/setup-multi-cluster/ra-09-setup-externaldns/code_snippets/ra-09_9100_delete_dns_zone.sh
  public/architectures/setup-multi-cluster/ra-09-setup-externaldns/yamls/externaldns.yaml
  scripts/code_snippets/tests/test_gke_multi_cluster_no_mesh_snippets.sh
Due: none

use docker instead
  scripts/dev/contexts/variables/e2e_ibm_smoke_base
  scripts/dev/setup_ibm_container_runtime.sh
  scripts/evergreen/setup_minikube_host.sh
  scripts/minikube/setup_minikube.sh
Due: none

Changes
  api/v1/certificate/monogdbcert_types.go
  api/v1/mdb/mongodb_types.go
Due: generate-manifests, golangci-lint, check-kubebuilder-annotations

Cleanup hosts on every reconciliation
  controllers/operator/mongodbreplicaset_controller.go
Due: golangci-lint, check-kubebuilder-annotations

RemoveUndesiredMonitoringHosts
  controllers/om/host/monitoring.go
Due: golangci-lint, check-kubebuilder-annotations

Path conditions:
  generate-manifests: any of: ^api/.*\.go$
  update-release-json: any of: (release\.json|scripts/evergreen/release/)
  update-values-yaml: any of: ^helm_chart/values.*\.yaml$
  generate-standalone-yaml: any of: ^helm_chart/
  regenerate-mco-tests: any of: ^scripts/evergreen/e2e/mco/
  regenerate-multicluster-rbac: any of: ^(cmd/kubectl-mongodb|pkg/kubectl-mongodb)/
  update-licenses: any of: (go\.mod|go\.sum)$
  golangci-lint: any of: \.go$
  check-kubebuilder-annotations: any of: \.go$
  check-makefile-brackets: any of: Makefile$
  helm-lint: any of: ^helm_chart/
