Repository mongodb/mongodb-kubernetes: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-manifests, update-release-json, update-values-yaml, generate-standalone-yaml, regenerate-mco-tests, regenerate-multicluster-rbac, update-licenses, golangci-lint, check-kubebuilder-annotations, check-makefile-brackets, helm-lint

generate-manifests:
  name: Generate CRD manifests
  entry: scripts/dev/generate_files.sh generate_manifests
  language: script
  pass_filenames: false

update-release-json:
  name: Update release.json
  entry: scripts/dev/generate_files.sh update_release
  language: script
  pass_filenames: false

update-values-yaml:
  name: Update Helm values files
  entry: scripts/dev/generate_files.sh update_values
  language: script
  pass_filenames: false

generate-standalone-yaml:
  name: Generate standalone YAML files
  entry: scripts/dev/generate_files.sh generate_standalone_yaml
  language: script
  pass_filenames: false

regenerate-mco-tests:
  name: Regenerate MCO evergreen tests
  entry: scripts/dev/generate_files.sh update_mco_tests
  language: script
  pass_filenames: false

regenerate-multicluster-rbac:
  name: Regenerate multi-cluster RBAC samples
  entry: scripts/dev/regenerate_multicluster_rbac.sh
  language: script
  pass_filenames: false

update-licenses:
  name: Update third-party licenses
  entry: scripts/dev/generate_files.sh update_licenses
  language: script
  pass_filenames: false

golangci-lint:
  name: Go linting
  entry: scripts/evergreen/lint_code.sh
  language: script
  pass_filenames: false
  require_serial: true

check-kubebuilder-annotations:
  name: Check erroneous kubebuilder annotations
  entry: bash
  args:
  - -c
  - "if grep -r \"// kubebuilder\" --include=\"*.go\" --exclude-dir=vendor .; then\n  echo \"Found erroneous kubebuilder annotation (should be //+kubebuilder)\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

check-makefile-brackets:
  name: Check Makefile variable brackets
  entry: bash
  args:
  - -c
  ...

helm-lint:
  name: Lint Helm chart
  entry: scripts/dev/lint_helm_chart.sh
  language: script
  pass_filenames: false

Orphaned hosts test
  controllers/operator/mongodbreplicaset_controller_test.go
Due: golangci-lint, check-kubebuilder-annotations

HELP-85556 - fix PVC scaling ignoring namespaces
  controllers/operator/create/create.go
  controllers/operator/create/create_test.go
Due: golangci-lint, check-kubebuilder-annotations

Rely on constraint one OM project = one deployment
  controllers/om/host/monitoring.go
  controllers/operator/mongodbreplicaset_controller.go
Due: golangci-lint, check-kubebuilder-annotations

Rely on OM API for sharded too
  controllers/operator/mongodbshardedcluster_controller.go
Due: golangci-lint, check-kubebuilder-annotations

Update tests
  controllers/operator/create/create.go
  controllers/operator/create/create_test.go
Due: golangci-lint, check-kubebuilder-annotations

Update tests
  controllers/operator/create/create_test.go
Due: golangci-lint, check-kubebuilder-annotations

Added changelog
  changelog/20251217_fix_persistent_volume_claim_resize.md
Due: none

Cleanup hosts in Multi replica set controller
  controllers/operator/mongodbmultireplicaset_controller.go
Due: golangci-lint, check-kubebuilder-annotations

Warn only when monitoring removal fails
  controllers/operator/mongodbreplicaset_controller.go
  controllers/operator/mongodbshardedcluster_controller.go
Due: golangci-lint, check-kubebuilder-annotations

Rephrase changelog
  changelog/20251216_fix_remove_hosts_from_monitoring_on_scale_down.md
Due: none

comment
  controllers/operator/mongodbreplicaset_controller_test.go
Due: golangci-lint, check-kubebuilder-annotations

Add test for CLOUDP-351614 WITHOUT the fix (expect failure)
  .evergreen-tasks.yml
  .evergreen.yml
  docker/mongodb-kubernetes-tests/tests/opsmanager/fixtures/om_appdb_tls_disable.yaml
  docker/mongodb-kubernetes-tests/tests/opsmanager/withMonitoredAppDB/om_appdb_tls_disable.py
Due: none

Removed unnecessary deps while building database image
  docker/mongodb-kubernetes-database/Dockerfile
Due: none

Fixed unittest helm plugin
  Makefile
  scripts/dev/contexts/root-context
  scripts/dev/setup_evg_host.sh
  scripts/evergreen/setup_kubectl.sh
Due: check-makefile-brackets

Review fixes + updated `hasFinishedResizing` function
  controllers/operator/create/create.go
  controllers/operator/create/create_test.go
Due: golangci-lint, check-kubebuilder-annotations

Workaround for ubi-8 net-snmp-libs
  docker/mongodb-kubernetes-database/Dockerfile
Due: none

POC
  api/v1/mdb/mongodb_types.go
  api/v1/mdb/zz_generated.deepcopy.go
  config/crd/bases/mongodb.com_mongodb.yaml
  config/crd/bases/mongodb.com_mongodbmulticluster.yaml
  controllers/om/deployment.go
  controllers/om/deployment/testing_utils.go
  controllers/om/process/om_process.go
  controllers/om/replicaset.go
  controllers/om/replicaset/om_replicaset.go
  controllers/operator/common_controller.go
  controllers/operator/mongodbmultireplicaset_controller.go
  controllers/operator/mongodbreplicaset_controller.go
  controllers/operator/mongodbshardedcluster_controller.go
  helm_chart/crds/mongodb.com_mongodb.yaml
  helm_chart/crds/mongodb.com_mongodbmulticluster.yaml
  mongodb-community-operator/pkg/util/merge/merge.go
  pkg/util/constants.go
  public/crds.yaml
Due: generate-manifests, generate-standalone-yaml, golangci-lint, check-kubebuilder-annotations, helm-lint

Review fixes
  controllers/operator/create/create_test.go
Due: golangci-lint, check-kubebuilder-annotations

Fix mocked client
  controllers/om/mockedomclient.go
Due: golangci-lint, check-kubebuilder-annotations

Lint
  controllers/operator/appdbreplicaset_controller_multi_test.go
  controllers/operator/mongodbmultireplicaset_controller.go
  controllers/operator/mongodbshardedcluster_controller_test.go
Due: golangci-lint, check-kubebuilder-annotations

Update changelog/20251217_fix_persistent_volume_claim_resize.md
  changelog/20251217_fix_persistent_volume_claim_resize.md
Due: none

CLOUDP-351614: Fix monitoring failure after disabling TLS on AppDB
  .evergreen.yml
  changelog/20251216_fix_tls_monitoring.md
  controllers/om/deployment.go
  controllers/om/deployment/testing_utils.go
  controllers/om/deployment_test.go
  controllers/operator/appdbreplicaset_controller.go
  controllers/operator/appdbreplicaset_controller_test.go
  controllers/operator/common_controller.go
  controllers/operator/mongodbshardedcluster_controller.go
  controllers/operator/mongodbshardedcluster_controller_test.go
  controllers/operator/mongodbstandalone_controller.go
  controllers/operator/mongodbstandalone_controller_test.go
Due: golangci-lint, check-kubebuilder-annotations

om8 dep
  .evergreen.yml
Due: none

Fixed helm unit tests and database docker build (#653)
  Makefile
  docker/mongodb-kubernetes-database/Dockerfile
  scripts/dev/contexts/root-context
  scripts/dev/setup_evg_host.sh
  scripts/evergreen/setup_kubectl.sh
Due: check-makefile-brackets

Running conditionally precommit_and_push job
  .evergreen.yml
  scripts/evergreen/should_run_precommit_and_push.sh
Due: none

Updated files
  .evergreen.yml
  release.json
Due: update-release-json

Run pre-commit hook
  config/manager/manager.yaml
  helm_chart/values-openshift.yaml
  public/mongodb-kubernetes-openshift.yaml
  release.json
Due: update-release-json, update-values-yaml, generate-standalone-yaml, helm-lint

What if remove agent binaries from Ops Manager?
  docker/mongodb-enterprise-ops-manager/Dockerfile
Due: none

fix goconst: 1
  controllers/operator/appdbreplicaset_controller.go
Due: golangci-lint, check-kubebuilder-annotations

CLOUDP-301527: Migrate from custom pre-commit to official pre-commit framework
  .githooks/pre-commit
  .pre-commit-config.yaml
  Makefile
  pyproject.toml
  requirements.txt
  scripts/code_snippets/validate_snippets.py
  scripts/dev/generate_files.sh
  scripts/dev/regenerate_multicluster_rbac.sh
  scripts/evergreen/check_precommit.sh
  scripts/evergreen/lint_code.sh
  scripts/evergreen/operator-sdk/prepare-openshift-bundles-for-e2e.sh
Due: check-makefile-brackets

Add validation on horizon domain names
  api/v1/mdb/mongodb_validation.go
  api/v1/mdb/mongodb_validation_test.go
Due: generate-manifests, golangci-lint, check-kubebuilder-annotations

changelog
  changelog/20251218_fix_fix_panic_when_horizon_domain_name_is_empty.md
Due: none

Ignore removed shards
  controllers/operator/mongodbshardedcluster_controller.go
Due: golangci-lint, check-kubebuilder-annotations

Revert fix for missing net-snmp packages in ubi8
  docker/mongodb-kubernetes-database/Dockerfile
Due: none

Fix monitoring TLS configuration bugs
  controllers/om/deployment.go
  controllers/operator/appdbreplicaset_controller.go
Due: golangci-lint, check-kubebuilder-annotations

Path conditions:
  generate-manifests: any of: ^api/.*\.go$
  update-release-json: any of: (release\.json|scripts/evergreen/release/)
  update-values-yaml: any of: ^helm_chart/values.*\.yaml$
  generate-standalone-yaml: any of: ^helm_chart/
  regenerate-mco-tests: any of: ^scripts/evergreen/e2e/mco/
  regenerate-multicluster-rbac: any of: ^(cmd/kubectl-mongodb|pkg/kubectl-mongodb)/
  update-licenses: any of: (go\.mod|go\.sum)$
  golangci-lint: any of: \.go$
  check-kubebuilder-annotations: any of: \.go$
  check-makefile-brackets: any of: Makefile$
  helm-lint: any of: ^helm_chart/
